/* .container {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  height: 10px;
  } */
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.box {
    background-image: url(images/azure.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
    font-family: 'Roboro', sans-serif;
    font-display: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
  
.box:hover {
    background-color: rgb(71, 169, 226);
  }

  body{
    background-color: rgb(177, 210, 231);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.nadpis {
  font-family: 'Roboro', sans-serif;
  font-size: 50px;
  background-position: center;
  
}
